<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <h1 style="color: aliceblue;"> Welcome.......! {{user}}   <button (click)="logout()" style="float: right; margin-right: 10px;" class="btn btn-warning">Logout</button>
  </h1>

  <!-- display timeand date -->
  <p style="color: aliceblue;">Login Details :{{lDate | date : 'short'}}</p>

  <!-- Transaction component link -->

  <a routerLink="/transaction">Transaction History</a>

  <button (click)="deleteMyaccount()" style="float: right; margin-right: 5px;" class="btn btn-danger">Delete My Account</button>
 
  <!-- child -->
  <hr>

  <app-delete-confirm (onDelete)="delete($event)" (onCancel)="cancel()" [item]="accno"> </app-delete-confirm>
  
  <!-- animation demo -->
  <app-animation-demo></app-animation-demo>
  
  <!-- Deposit  -->
  
  <div [ngClass]="accno? 'style1' : ''" class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 appHighlight class="text-center">Deposit <Form></Form></h3>
                  
              </div>
              <div class="card-body">
                  <form (ngClick)="deposit()" [formGroup]="depositForm">
                   
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" formControlName="acno" name= "acno" placeholder="accno" id="login_accno" required>
                          
                      </div>


                      <div style="color: red;" *ngIf="(this.depositForm.get('acno')?.touched || this.depositForm.get('acno')?.dirty)&&this.depositForm.get('acno')?.errors">Invalid Username </div>



                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" formControlName="pswd" name="pswd" placeholder="pass" id="login_password" required>

                        </div>



                        <div style="color: red;" *ngIf="(this.depositForm.get('pswd')?.touched || this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors">Invalid Username </div>


                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="amount" name= "amount" placeholder="amount" id="amount" required>
                            
                        </div>


                        <div style="color: red;" *ngIf="(this.depositForm.get('amount')?.touched || this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors">Invalid Username </div>

                      
                      <div class="form-group">
                          <input type="submit" value="deposit" (click)="deposit()" class="btn float-right login_btn "  style="width:50%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <br><br><br>


  <!-- Withdraw -->

  
  <div  [ngClass]="accno? 'style1' : ''" class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 appHighlight class="text-center" >Withdraw <Form></Form></h3>
                
            </div>
            <div class="card-body">
                <form (ngClick)="withdraw()" [formGroup]="WithdrawForm" >
                 
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="acno1" name= "acno1" placeholder="accountnumber" id="login_accno1" required>
                        
                    </div>

                    <div style="color: red;" *ngIf="(this.WithdrawForm.get('acno1')?.touched || this.WithdrawForm.get('acno1')?.dirty)&&this.WithdrawForm.get('acno1')?.errors">Invalid Username </div>


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pswd1" name="pswd1" placeholder="pass" id="login_password1" required>

                      </div>

                      <div style="color: red;" *ngIf="(this.WithdrawForm.get('pswd1')?.touched || this.WithdrawForm.get('pswd1')?.dirty)&&this.WithdrawForm.get('pswd1')?.errors">Invalid Username </div>


                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" formControlName="amount1" name= "amount1" placeholder="amount" id="amount1" required>
                          
                      </div>

                      <div style="color: red;" *ngIf="(this.WithdrawForm.get('amount1')?.touched || this.WithdrawForm.get('amount1')?.dirty)&&this.WithdrawForm.get('amount1')?.errors">Invalid Username </div>

                    
                    <div class="form-group">
                        <input type="submit" value="Withdraw" (click)="withdraw()" class="btn float-right login_btn "  style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

